h4 {color: #2e6da4;
text-align: center;

}
* {
    box-sizing: border-box;
}

.column {
    flex: 33.33%;
    padding: 5px;

}


.row {
    display: flex;
}

h1{color: #8a6d3b;
text-align:center;
    background-color: #5bc0de;
}
h3 { text-align: center;
    color: #8a6d3b}
h2 {text-align: center;
    background-color: #b9def0;
}
h1{text-align: center;
background-color: #b9def0}