button {color: #999999;
background-color: #843534}
textarea {border: 1px solid #000000;
background:center center no-repeat}
div{ text-align: center;
border: #8a6d3b}
body{background-color: #999999;
  padding-top: 70px}
select{border: 1px solid #0f0f0f;
  padding: 15px;
background:center center no-repeat}
h2 {color: #4c4066}